.form_style{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
}


#search-input{
    width: 25vw;
    height: 3vw;
    border-radius: 20px;
    padding-left: 20px;
    display: none;
}

#search-input2{
    width: 25vw;
    height: 3vw;
    border-radius: 20px;
    padding-left: 20px;
}



#watch_video{
    width: 100%;
    height: 100dvh;
    background: #ffffff59;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}


#embed_video {
    width: 80%;
    height: 90%;
}


#close_icon{

    position: fixed;
    width: 3vw;
    top: 2rem;
    right: 2rem;
    cursor: pointer;

}


#save_icon{

    position: fixed;
    width: 3vw;
    top: 2rem;
    left: 2rem;
    cursor: pointer;

}

.google_img{
    width: 20vw;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (max-width : 768px) {
    
    #embed_video {
        width: 95%;
        height: 30svh;
    }

    #close_icon {
        width: 10vw;
        top: 1rem;
        right: 1rem;
    }


    #search-input {
        width: 80vw;
        height: 13vw;
        border-radius: 20px;
        padding-left: 20px;
        margin-top: 4rem;
    }

    .google_img{
        width: 40vw;
        top: 40%;
    }

    #search-input2{
        width: 85vw;
        height: 14vw;
        border-radius: 20px;
        padding-left: 20px;
    }

}